.battery {
  padding: 0 0.2rem;
  color: $green;
  border-radius: 1rem;
}

.battery label {
  margin: 0 0.2rem;
}

.battery:hover {
  background-color: $darkgray;
}

.battery:active {
  background-color: $black;
}
