.volume {
  color: $blue;
  padding: 0 0.2rem;
  border-radius: 1rem;
}

.volumebox {
  padding: 0 0.3rem;
}
.volume:hover {
  background-color: $darkgray;
}

.volume:active {
  background-color: $black;
}

.slider {
  padding: 0 1rem;
}

.slider highlight {
  padding: 0 1rem;
  border-radius: 0.2em;
}

.slider trough {
  background-color: $cyan;
  border-radius: 0.2em;
}
