.workspaces {
  border-radius: 1rem;
  padding: 0;
  margin: 0;
}

.workspace {
  border-radius: 1rem;
  margin: 0 0.25rem;
  padding: 0 0.7rem;

  &.occupied {
    background-color: $darkgray;
  }
  &.current {
    background-color: $orange;
  }
}

.workspace:hover {
  background-color: $lightgray;
  &.current {
    background-color: #c38846;
  }
}
