.workspaces {
  border-radius: 5px;
  box-shadow: 0 0 4px 2px #1b1d2b;
  padding: 0;
  margin: 0;
  background-color: rgba($color: #222436, $alpha: 0.65);
}

.workspace {
  border-radius: 1rem;
  background-color: rgba($color: #fdfffd, $alpha: 0.1);
  margin: 0 0.25rem;
  padding: 0 0.7rem;

  &.current {
    background-color: #ffc777;
  }
}

.workspace:hover {
  background-color: #2f334d;
  &.current {
    background-color: #c38846;
  }
}
