* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  min-height: 0px;
}

window#waybar {
  background: rgba(26, 27, 38, 0.95);
  color: #c0caf5;
  font-size: 16px;
}

tooltip {
  background: #1a1b26;
  opacity: 0.8;
  border-radius: 10px;
  border: 2px solid #c0caf5;
}

tooltip label {
  color: #c0caf5;
}

#custom-power_btn {
  color: #f7768e;
  margin-right: 13px;
  margin-left: 9px;
}

#workspaces {
  padding: 0px 5px;
  margin-left: 3px;
  margin-right: 0px;
}

#workspaces button {
  padding: 0px 2px;
  color: #c0caf5;
}

#workspaces button.active {
  color: #f7768e;
}

#custom-updates {
  color: #a9b1d6;
  margin-right: 3px;
  margin-left: 3px;
}

#clock {
  color: #a9b1d6;
  margin-left: 3px;
}

#pulseaudio {
  color: #7aa2f7;
  margin-right: 15px;
}

#tray {
  margin-right: 3px;
}

#temperature.critical {
  color: #e92d4d;
}

#battery {
  color: #a6e3a1;
  border-left: 0px;
  margin-right: 10px;
}

#mpris {
  color: #cdd6f4;
  padding: 0px 8px;
  border-radius: 10px;
  margin-right: 8px;
}

#idle_inhibitor {
  padding: 0px 8px;
  color: #cdd6f4;
}

#idle_inhibitor.activated {
  color: #f7768e;
}

.modules-left {
  border-radius: 10px;
  background: rgba(26, 27, 38, 0.95);
}

.modules-center {
  background: transparent;
}

.modules-right {
  border-radius: 10px;
  background: rgba(26, 27, 38, 0.95);
}
