* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  min-width: 0px;
  min-height: 0px;
}

window#waybar {
  background: transparent;
  color: #c8d3f5;
  font-size: 11pt;
}

tooltip {
  background: rgba(34, 36, 54, 0.95);
  border-radius: 10px;
  border: 2px solid #c8d3f5;
}

tooltip label {
  color: #c8d3f5;
}

#custom-power_btn {
  color: #ff757f;
  margin-right: 5px;
  padding-bottom: 2px;
}
#workspaces {
  margin: 3px;
}
#workspaces button {
  color: #e0af68;
  border-radius: 5px;
  padding: 3px 0px;
}

#workspaces button.empty {
  color: #c8d3f5;
}

#workspaces button.active {
  background-color: #e0af68;
  color: #1b1d2b;
}

#custom-updates {
  color: #c8d3f5;
  margin-right: 5px;
}

#clock {
  color: #c8d3f5;
}

#pulseaudio {
  color: #82aaff;
  margin-right: 6px;
}

#battery {
  color: #c3e88d;
  font-size: 14pt;
}

#mpris {
  color: #c8d3f5;
}

.modules-left {
  background-color: #2f334d;
  border-radius: 5px;
  border: 2px solid #82aaff;
  margin-top: 4px;
  margin-left: 4px;
}

.modules-center {
  background: transparent;
}

.modules-right {
  background-color: #2f334d;
  padding-top: 4px;
  border-radius: 5px;
  border: 2px solid #82aaff;
  margin-bottom: 4px;
  margin-left: 4px;
}
