window {
  margin: 0px;
  border: 0px;
  background-color: transparent;
}

#input {
  margin: 10px;
  padding-left: 20px;
  border: none;
  color: #c0caf5;
  font-weight: bold;
  background-color: #1a1b26;
  outline: none;
  border-radius: 15px;
  margin-bottom: 0px;
}

#input:focus {
  border: 0px solid #212121;
  margin-bottom: 0px;
}

#inner-box {
  border: 10px solid #1a1b26;
  color: #c0caf5;
  font-weight: bold;
  background-color: #1a1b26;
  border-radius: 15px;
}

#outer-box {
  margin: 5px;
  border: 2px solid #c0caf5;
  color: #1a1b26;
  border-radius: 5px;
  background-color: #1a1b26;
}

#scroll {
  margin: 0px 0px;
  border: none;
  border-radius: 15px;
  /* background: rgb(255,255,255); */
}

#entry:selected {
  border-radius: 8px;
  background-color: rgba(40, 52, 87, 0.75);
}

#text {
  color: #c0caf5;
  font-weight: bold;
}
