window {
  margin: 0px;
  border: 0px;
  background-color: transparent;
}

#input {
  border: none;
  color: #c0caf5;
  font-weight: bold;
  background-color: #1a1b26;
  outline: none;
  border-radius: 15px;
  margin-bottom: 5px;
}

#outer-box {
  padding: 10px;
  border: 2px solid #c0caf5;
  color: #1a1b26;
  border-radius: 5px;
  background-color: #1a1b26;
}

#scroll {
  margin: 0px 0px;
  border: none;
}

#entry:selected {
  border-radius: 10px;
  background-color: rgba(40, 52, 87, 0.75);
}

#text {
  color: #c0caf5;
  font-weight: bold;
}
