window {
  margin: 0px;
  border: 0px;
  background-color: transparent;
}

#input {
  border: none;
  color: #c8d3f5;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border-radius: 15px;
  margin-bottom: 5px;
}

#outer-box {
  padding: 10px;
  border: 2px solid #82aaff;
  border-radius: 5px;
  background-color: rgba(34, 36, 54, 0.9);
}

#scroll {
  margin: 0px 0px;
  border: none;
}

#entry:selected {
  border-radius: 10px;
  background-color: rgba(45, 63, 118, 0.9);
}

#text {
  color: #c8d3f5;
  font-weight: bold;
}
