window {
  background-color: transparent;
}

#input {
  border: none;
  border-radius: 0px;
  color: #c0caf5;
  background-color: rgba(26, 27, 38, 0.75);
  outline: none;
  margin-bottom: 0px;
  color: #c0caf5;
  font-weight: bold;
}

#text {
  color: #c0caf5;
  font-weight: bold;
}

#entry {
  background-color: rgba(26, 27, 38, 0.75);
  border-radius: 0px;
}

#entry:selected {
  background-color: rgba(40, 52, 87, 0.75)
}
