.idle-button {
  padding: 0;
  margin: 0 0.1rem 0 0;
  background: transparent;
}
.idle-button:hover {
  background-color: $darkgray;
}
.idle-button:active {
  background-color: $black;
}
.idle-icon {
  color: $cyan;
  padding: 0 0 0 0.2rem;
}

.vidle-button {
  padding: 0;
  margin: 0 0 0 0.1rem;
  background: transparent;
}
.vidle-button:hover {
  background-color: $darkgray;
}
.vidle-button:active {
  background-color: $black;
}
