.updates {
  padding: 0;
  border-radius: 1rem;
}

.updates:hover {
  background-color: $darkgray;
}

.updates:active {
  background-color: $black;
}

.update-icon {
  color: $foreground;
  padding: 0 0 0 0.4rem;
}
