.volume {
  color: $blue;
  border-radius: 1rem;
}

.volumebox {
  padding: 0 0.3rem;
}
.volume:hover {
  background-color: $darkgray;
}

.volume:active {
  background-color: $black;
}

.slider {
  padding: 0 1rem;
}

.slider trough {
  background-color: $blue;
  border-radius: 0.2em;
  min-width: 50px;
}

.vslider {
  padding: 1rem 0;
}

.vslider trough {
  background-color: $blue;
  border-radius: 0.2em;
  min-height: 50px;
}
