.wifi-button {
  color: $green;
  padding: 0 0.25rem;
  background: transparent;
}

.wifi-button:hover {
  background-color: $darkgray;
}

.wifi-button:active {
  background-color: $black;
}

.wifi-icon {
  padding: 0 0.31rem 0 0;
}

.vwifi-button {
  color: $green;
  padding: 0;
  background: transparent;
}

.vwifi-button:hover {
  background-color: $darkgray;
}

.vwifi-button:active {
  background-color: $black;
}
