configuration {
  modi: "drun,window,wallpaper,filebrowser,power";
  run-command: "uwsm app -- {cmd}";
  font: "JetBrainsMono Nerd Font SemiBold 13";
  hover-select: true;
  me-accept-entry: "!MousePrimary";
  kb-cancel: "Control+[47],Escape,Control+C";
  sort: true;
  sorting-method: "fzf";
  matching: "fuzzy";
  display-wallpaper: "󰸉";
  display-drun: "󰵆";
  display-window: "󰖯";
  display-power: "󰐥";
  display-filebrowser: "";
  show-icons: true;
} 

@theme "tokyonight"
